*
!.cade
!.editorconfig
!.gitignore
!.rustfmt.toml
!.taplo.toml
!Cargo.lock
!Cargo.toml
!LICENSE
!README.md
!flake.lock
!flake.nix

!.cargo/
!.cargo/config.toml
!fixtures/
!fixtures/**
!nix/
!nix/**
!src/
!src/**
